body{

    font-family: sans-serif;
    margin: 25px auto;
    max-width: 280px;
}

.input-div{


    display:grid;
    grid-template-columns: 50% 50%;
    margin-bottom: 15px;
    background: rgba(14, 200, 233, 0.932);
    color: white;
}


.nombre, .valor{

    padding: 5px;
    align-self: center;
    text-align: center;
}